

.logo-image {
    width: 277px;
    margin-top: 5px;
    margin-left: -15px;
}

.tagline {
    font-style: italic;
    color: #5b6167;
    margin-top: 58px;
    max-width: 300px;
    margin-bottom: 0;
}