<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/site.css"/>
</head>
<body>
<h1>Stock Page</h1>

<h3>Favorites</h3>
<table class="table table-striped table-bordered">
    <tr>
        <td>Stock name</td>
        <td>Ticker</td>
        <td>Industry</td>
    </tr>
    <tr th:each="favorite: ${favorites}">
        <td th:text="${favorite.stock.stockName}">Stock Name</td>
        <td th:text="${favorite.stock.stockTicker}">Ticker</td>
        <td th:text="${favorite.stock.stockIndus}">Industry</td>
    </tr>
</table>

<h3>Shares</h3>
<table class="table table-striped table-bordered">
    <tr>
        <td>Stock name</td>
        <td>Ticker</td>
        <td>Industry</td>
    </tr>
    <tr th:each="share: ${shares}">
        <td th:text="${share.stock.stockName}">Stock Name</td>
        <td th:text="${share.stock.stockTicker}">Ticker</td>
        <td th:text="${share.emailToShareWith}">Shared to</td>
    </tr>
</table>
</body>
</html>