<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   <session-factory>
   
      <property name = "hibernate.dialect">
         org.hibernate.dialect.MySQLDialect
      </property>
      
      <property name = "hibernate.connection.driver_class">
         com.mysql.jdbc.Driver
      </property>
      
      <property name = "hibernate.connection.url">
         jdbc:mysql://localhost/stockscore
      </property>
      
      <property name = "hibernate.connection.username">
         stockscore
      </property>
      
      <property name = "hibernate.connection.password">
         stockscore123
      </property>
      
      <!-- This tells hibernate to create the table if it does not exist -->
      <property name="hibernate.hbm2ddl.auto">
         update
      </property>
      
      <!-- List of mappings: hibernate know that User, Stock, Share
       are entities related to tables in the database of the same name -->
      <mapping class="com.stockscore.domain.User"/>
      <mapping class="com.stockscore.domain.Stock"/>
      <mapping class="com.stockscore.domain.Share"/>
      
   </session-factory>
</hibernate-configuration>